<div class="flex-row border-2 rounded-lg">
  <div class="flex-1 bg-blue-100">
    <img src=<%= project.img_url %> alt="screenshot of project">
  </div>
  <div class="flex-1">
    <div class="flex">
      <p class="flex-1"><%= project.name %></p>
      <%= render 'github_logo' %>
      <%= render 'live_logo', url: project.live_url %>
    </div>
    <div class="flex-1">
      <p><%= project.description %></p>
    </div>
  </div>
</div>

